$dark: rgba(0, 0, 0, 0.8);
$primary: rgb(0, 120, 231);
$lightBlue: #129FEA;
$grey: #E6E6E6;
$darkGrey: rgba(0, 0, 0, 0.2);
$lightGrey: #cccccc;
$red: #e9322d;
$darkRed: #b94a48;

// em
$sm: 35.5;
$md: 48;
$lg: 64;
$xl: 80;

