.as-grid {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  &.center {
    align-items: center;
    justify-content: center;
    vertical-align: center;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
}

.no-warp {
  flex-wrap: nowrap;
}
